* {
	margin: 0;
	padding: 0
}

body {
	font-family: "黑体";
	background-color: #069;
}

#main {
	width: 1120px;
	height: 620px;
	margin: 80px auto 0;
}

#nav_wraper {
	width: 1120px;
	height: 60px;
	/*background-color: pink;*/
	overflow: hidden;
	position: relative;
}

#nav_wraper .navMenu {
	width: 187px;
	height: 60px;
	text-align: center;

	font-size: 16px;
	color: #fff;
	/*float:left;*/
	position: absolute;
	top: 0;
}

#menu_wraper {
	width: 1120px;
	height: 560px;
	position: relative;
	overflow: hidden;
}

#menu_wraper .menu-list {
	/*width: 1120px;
	height: 560px;*/
	position: absolute;
	top: 0;
	/*left: 1120px;*/
}





#menu_wraper .menu-list .focus-div{
	display: none;
	border: 5px solid yellow;
	position: absolute;
	background: none !important;
	/*box-shadow: 0px 0px 20px #8B0000 ;*/
}
