* {
	margin: 0;
	padding: 0
}

body {
	font-family: "黑体";
	background-color: #069;
}

#main {
	width: 1120px;
	height: 620px;
	margin: 80px auto 0;
}

#nav_wraper {
	width: 1120px;
	height: 60px;
	/*background-color: pink;*/
	overflow: hidden;
	position: relative;
	line-height: 60px;
}

#nav_wraper .nav-list {
/*	width: 224px;
	height: 60px;*/
	text-align: center;
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 0;

}

#nav_wraper .active-list{
	color: yellow;
	font-size: 24px;
	-webkit-animation:turn 4s infinite;
}

@-webkit-keyframes turn{
	75%{
		-webkit-transform: rotateY(0deg);
	}
	100%{
		-webkit-transform: rotateY(360deg);
	}
}

#menu_wraper {
	width: 1120px;
	height: 560px;
	position: relative;
	overflow: hidden;
}

#menu_wraper .menu-list {
	/*width: 1120px;
	height: 560px;*/
	position: absolute;
	top: 0;
	/*left: 1120px;*/
}

#menu_wraper .menu-list div{

	position: absolute;
	color: white;
	text-align: center;
	font-size: 20px;
	/*background-size:cover;*/

}



#menu_wraper .menu-list .focus-div{
	display: none;
	border: 5px solid yellow;
	position: absolute;
	background: none !important;
	/*box-shadow: 0px 0px 20px #8B0000 ;*/
}
/*#menu_wraper .add-pic{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
}

#menu_wraper .tv-pro{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

#menu_wraper .tv-bro{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

#menu_wraper .recive{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}



#menu_wraper .kingdom{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
}

#menu_wraper .youku{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

#menu_wraper .yifang{
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}*/

