* {
	margin: 0;
	padding: 0
}

body {
	font-family: "黑体";
	background-color: #069;
}

#main {
	width: 1120px;
	height: 620px;
	margin: 80px auto 0;
}

#nav_wraper {
	width: 1120px;
	height: 60px;
	background-color: pink;
	overflow: hidden;
	position: relative;
}

#nav_wraper .navMenu {
	width: 187px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
	/*float:left;*/
	position: absolute;
	top: 0;
}

#menu_wraper {
	width: 1120px;
	height: 560px;
	position: relative;
	overflow: hidden;
}

#menu_wraper .menu-list {
	/*width: 1120px;
	height: 560px;*/
	position: absolute;
	top: 0;
	/*left: 1120px;*/
}

#menu_wraper .menu-list0 {
	left: 0px;
}

#menu_wraper .menu-list0 div {
	color: #fff;
	text-align: center;
	font-size: 16px;
	outline: none;
	position: absolute;
}

#menu_wraper .menu-list0 .program {

	background: #222222;

}

#menu_wraper .menu-list0 .pro-post {

	background: green;
	line-height: 150px;

}

#menu_wraper .menu-list0 .pro-search {
	
	background: aquamarine;
	line-height: 150px;

}

#menu_wraper .menu-list0 .pro-edit {

	background: mediumpurple;
	line-height: 150px;
	
}

#menu_wraper .menu-list0 .e-mail {
	
	background: cornflowerblue;
	line-height: 160px;

}

#menu_wraper .menu-list0 .add-pic {
	
	background: url(../img/timg.jpg);
	background-size: cover;
	/*-webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(white));*/
}

#menu_wraper .menu-list0 .tv-pro {
	
	background: green;
	line-height: 150px;
	/*-webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(white));*/
}

#menu_wraper .menu-list0 .tv-bro {

	background: purple;
	line-height: 150px;
	/*-webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(white));*/
}

#menu_wraper .menu-list0 .recive {
	
	background: orange;
	line-height: 150px;
	/*-webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(white));*/
}

#menu_wraper .menu-list1 div {
	position: inherit;
	text-align: center;
	color: #fff;
	outline: none;
}

#menu_wraper .menu-list1 .kingdom {
	
	background: url(../img/gitta.jpg);
	background-size: contain;

}

#menu_wraper .menu-list1 .music {
	
	line-height: 150px;
	background: cyan;
	
}

#menu_wraper .menu-list1 .aiqiyi {
	
	line-height: 150px;
	background: purple;
	
}

#menu_wraper .menu-list1 .pptv {
	
	line-height: 150px;
	background: orangered;
	
}

#menu_wraper .menu-list1 .fh-news {
	
	line-height: 150px;
	background: blue;

}

#menu_wraper .menu-list1 .youpeng {

	line-height: 150px;
	background: sienna;
	
}

#menu_wraper .menu-list1 .youku {

	line-height: 150px;
	background: mediumpurple;
	
}

#menu_wraper .menu-list1 .yifang {
	
	line-height: 180px;
	background: greenyellow;
	
}

.menu-list2,
.menu-list3,
.menu-list4 {
	
	width: 1120px;
	height: 580px;
}

.menu-list2 div,
.menu-list3 div,
.menu-list4 div {
	
	position: inherit;
	/*margin: 0 10px 10px 0;*/
	border: 1px solid #222;
	background: cyan;
	text-align: center;
	line-height: 230px;
	color: #fff;

}


.menu-list3 div {
	background: peru;
}



.menu-list4 div {
	background: orange;
}



#menu_wraper .menu-list .focus-div{
	display: none;
	border: 6px solid yellow;
	position: absolute;
	background: none !important;
	/*box-shadow: 0px 0px 20px #8B0000 ;*/
}
